.title{
    background: linear-gradient(rgb( 2,228,171),rgb( 74,215,240));
    padding: 100px;
    text-align: center;
    text-shadow: 0px 1px 2px rgba(black, 0.2);
    color: white;
    font-weight: bold;
    font-size: 40px;
}

.form-control{
    width: 88%;
    height: 20px;
    position: absolute;
    top: 20%;
}
.btn{
    background: linear-gradient(to right, rgb(236,72,140), rgb(250,54,82));
    position: absolute;
    left: 91%;
    top: 23%;
    border: none;
height: 28px;
 color: white;
 font-weight: 600;
opacity: 0.9;
width: 8%;
}




.container{
    width: 700px;
    height: 100px;
    background-color: white;
position: absolute;
left: 280px;
top: 31%;
margin-top: -20px;
border-radius: 4px;
box-shadow: 0px 4px 12px rgba(black, 0.08);
}

.container1{
    background-color: rgb(226, 226, 226);
    position: absolute;
    left: 280px;
    top: 40%;
    width: 700px;
    height: 300px;
}

.todo-item{
display: flex;
font-size: 18px;
margin-bottom: 12px;
animation-duration: 0.3s;
justify-content: space-between;
}

.remove-item{
  
    font-size: 20px;
    cursor: pointer;
    margin-left: 14px;
    &:hover{
        color: red;
    }
}

.form-item-left{
    display: flex;
    align-items: center;
}

.form-check-label{
    padding: 10px;
    border: 1px solid white;
    margin-left: 12px;
}

.container3{
    padding: 1px;
height: 2px;

}

.clear-completed{
    position: absolute;
left: 80%;
padding: 0.1px;

}

.items-number{
 text-align:right;


}