<div class="title">To-dos</div>

<br />



<div class="container">
  <div class="form">
  
      <label for="todo-input" class="form-label"
        ></label
      >
      <textarea
        class="form-control"
        id="todo-input"
        rows="3" placeholder="what needs to be done"
      ></textarea>
    </div>
    <button type="button" class="btn">+Add</button>
 
  
  </div>
<br />






<div class="container1">

   
    <div class="todo-item">
      <div class="form-item-left">
     
        <label class="form-check-label" for="flexCheckDefault">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          Default checkbox
       </label>
       <div> 
        <span aria-hidden="true">&times;</span>
     </div>
      </div>

        <label class="form-check-label" for="flexCheckDefault">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
     another todo
       </label>
       <div> 
        <span aria-hidden="true">&times;</span>
    </div>
    </div>
</div>

  
        <div class=" extra-container">
          <div>
            <label>
              <input type="checkbox"> check all
            </label>
           </div>
            <div>
             4 items left
        </div>
     </div>
 



        <div class="extra-container">
          <div class="todo-item">
             <div>
      <button class="active">All</button>
      <button>Active</button>
      <button>Completed</button>
          </div>
        </div>
      </div>
 





