<div class="title">To-dos</div>

<br />

<div class="container">
  <div class="form">
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label"
        >Insert todo</label
      >
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>
    <button type="button" class="btn">+Add</button>

  
  </div>
</div>
<br />

<div class="container1">
  <div class="todos-list">
   
    <div class="todo-item">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="flexRadioDefault1"
        />
        <label class="form-check-label" for="flexRadioDefault1">
          Default radio
        </label>
      </div>
    </div>
  </div>
</div>


<span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Disabled popover">
  <button class="btn btn-primary" type="button" disabled>Disabled button</button>
</span>

