<div class="title">To-dos</div>
<br />


<div class="container">

  <div class="form">
  <label for="todo-input" class="form-label"></label>
      <textarea class="form-control" id="todo-input"rows="3" placeholder="what needs to be done" ></textarea>
    </div>
    <button type="button" class="btn">+Add</button>
  </div>
<br />


<div class="container1">

   
    <div class="todo-item" >
      <div class="todo-item-left">
        <input  type="checkbox" >
        <div class="todo-item-label"  *ngFor="let to of todos; let i = index">something</div>
      </div>
 
     <div class="remove-item">
        <span aria-hidden="true">&times;</span>
     </div>
    </div>

        <div class="container2">
        <label> <input type="checkbox"> check all </label>
       <div class="items-number"> 4 items left</div>
     </div>
 



        <div class="container3">
      <div  class="active">
      <button>All</button>
      <button>Active</button>
      <button>Completed</button>
          </div>
        </div>


        <div>
          <button class="clear-completed ">Clear completed</button>
        </div>



  <ul>
    <li *ngFor="let todo of todos">
      {{ todos.title }}
    </li>
  </ul>
`,
      </div>
 





